@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#loginPage {
  display: none;
  background-color: #fff;
}

#loginNameInput {
  border: 2px solid #000;
  background-color: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  max-width: 400px;
}

#chatPage {
  display: flex;
}

.chatArea {
  flex: 1;
  width: 100%;
  display: flex;
  background-color: #ccc;
}

.chatList {
  padding: 10px;
  flex: 1;
  background-color: #fff;
  overflow-y: scroll;
  max-height: calc(100vh - 20px - 40px - 1px);
}

.chatList li {
  padding: 3px;
  font-size: 15px;
}

.chatList li.m-status {
  color: #333;
  font-style: italic;
}

.chatList li.m-txt span{
  font-weight: bold;
  color: #00f;
}

.chatList li.m-txt span.me{
  color: #f00;
}

.userList {
  width: 200px;
  background-color: #ccc;
  overflow-y: scroll;
  border-left: 1px solid #000;
  max-height: calc(100vh - 40px - 1px);
}

.userList li {
  padding: 5px;
  font-size: 15px;
}

.chatInput {
  width: 100%;
  display: flex;
}

#chatTextInput {
  flex: 1;
  word-wrap: break-word;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  background-color: #fff;
  outline: 0;
  border: 0;
  border-top: 1px solid #000;
}