@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.page {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#loginPage {
  display: flex;
  background-color: #fff;
}

#loginNameInput {
  border: 2px solid #000;
  background-color: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  max-width: 400px;
}

#chatPage {
  display: none;
}