@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#loginPage {
  display: flex;
  background: #9D50BB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6E48AA, #9D50BB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#loginNameInput {
  border: 2px solid #000;
  background-color: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#chatPage {
  display: none;
  background: #9D50BB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6E48AA, #9D50BB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chatArea {
  flex: 1;
  width: 100%;
  display: flex;
}

.chatList {
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 20px - 40px - 1px);
}

.chatList li {
  padding: 3px;
  font-size: 15px;
}

.chatList li.m-status {
  color: #ddd;
  font-style: italic;
}

.chatList li.m-txt {
  color: #fff;
}

.chatList li.m-txt span {
  font-weight: bold;
  color: #fff;
}

.chatList li.m-txt span.me {
  color: #eee;
  font-weight: bold;
}

.userList {
  width: 200px;
  overflow-y: scroll;
  border-left: 1px solid #000;
  max-height: calc(100vh - 40px - 1px);
  color: #ccc;
}

.userList li {
  padding: 5px;
  font-size: 15px;
}

.chatInput {
  width: 100%;
  display: flex;
}

#chatTextInput {
  flex: 1;
  word-wrap: break-word;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  outline: 0;
  border: 0;
  border-top: 1px solid #000;
}